.map-page {
  .entry-content.full {
    .leftcol {
      width: 100%!important;
      padding-right: 0!important;
    }
  }
}
body.category {
  .site-content {
    margin-top: 0;
  }
}
.qcm-spacer {
  width: 100%;
  float: left;
  margin-top: 50px;
}
.poweredbyInfo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  .pwbtxt {
    font-size: 9px;
    line-height: 1;
    color: #58595b;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px;
    display: block;
  }
  .pwbLogo {
    a {
      display: inline-block;
      text-decoration: none;
    }
    img {
      width: auto;
      height: 60px;
    }
  }
}
